[submodule "roles/cli-tools"]
	path = roles/cli-tools
	url = git@github.com:wolf128058/role_ffoff-clitools.git
[submodule "roles/ssh-pubkeys"]
	path = roles/ssh-authorized-keys
	url = git@github.com:wolf128058/role_ffoff-pubkeydrop-singleuser
[submodule "roles/docker-unifi"]
	path = roles/docker-unifi
	url = git@github.com:wolf128058/role_ffoff-unifi-controller-docker.git
[submodule "roles/wg-ffmuc"]
	path = roles/wg-ffmuc
	url = git@github.com:wolf128058/role_ffoff-wg4ffmuc.git
[submodule "roles/vxlan-ffmuc"]
	path = roles/vxlan-ffmuc
	url = git@github.com:wolf128058/role_ffoff-vxlan4ffmuc.git
[submodule "roles/respondd"]
	path = roles/respondd
	url = git@github.com:wolf128058/role_ffoff-respondd.git
[submodule "roles/batman"]
	path = roles/batman
	url = git@github.com:wolf128058/role_ffoff-batman.git
