[submodule "roles/cli-tools"]
	path = roles/cli-tools
	url = git@github.com:wolf128058/role_ffoff-clitools.git
[submodule "roles/ssh-pubkeys"]
	path = roles/ssh-authorized-keys
	url = git@github.com:wolf128058/role_ffoff-pubkeydrop-singleuser
