[submodule "roles/cli-tools"]
	path = roles/cli-tools
	url = git@github.com:wolf128058/role_ffoff-clitools.git
[submodule "roles/ssh-pubkeys"]
	path = roles/ssh-authorized-keys
	url = git@github.com:wolf128058/role_ffoff-pubkeydrop-singleuser
[submodule "roles/docker-unifi"]
	path = roles/docker-unifi
	url = git@github.com:wolf128058/role_ffoff-unifi-controller-docker.git
[submodule "roles/wg-ffmuc"]
	path = roles/wg-ffmuc
	url = git@github.com:wolf128058/role_ffoff-wg4ffmuc.git
